<div class="card container col-md-8 offset-md-2 mt-5">

        <div class="card-body">
            <h2>Create New Employee</h2>
            <p>Welcome to the Employees page. Here you can view all employees.</p>
        </div>
       
        </div>
        
    </div>
    <%= render 'form' , employee:@employee %>
      