<%= form_with model:documents do |form| %>
<div class="row" >
    <div class="col-md-6">
       <div class="form-group">

        </div>
        <div class="form-group
    </div>
    <div class="col-md-6">
       
    </div>

</div>
<%end%>